h1 {
    color: #333;
    font-size: 35px;
    margin-bottom: 20px;
}

tbody tr {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;

}

button {
    background-color: #4fa3e8;
    ;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

button:hover {
    background-color: #4fa3e8;
}

thead th {
    background-color: #4fa3e8;
    color: white;
    font-size: 21px;
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}


input {
    width: 90%;
    padding: 5px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 20px;

}