.poppins{
    font-family: 'Poppins' !important;
}
.manrope{
    font-family: 'Manrope' !important;
}
.primary-bg{
    background-color: #64b496;
}
li,ul{
    margin: 0 !important;
}
.focus-form:focus{
    border-color: #64b496 !important;
}
.fw-500{
    font-weight: 500;
}
.primary-color{
    color: #64b496;
}
.secondary-color{
    color: #7a7a7a;
}
.third-color{
    color: #4b5966 !important;
}
.primary-border{
    border-color: #64b496 !important;
}
.secondary-border{
    border-color: #7a7a7a;;
}
a{
    text-decoration: none;
    color: black ;
}
.fs-13{
    font-size: 13px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-18{
    font-size: 18px !important;
}
.fs-20{
    font-size: 20px !important;
}
.fs-22{
    font-size: 22px !important;
}
.fs-28{
    font-size: 28px !important;
}
.fs-32{
    font-size: 32px !important;
}
.fs-55{
    font-size: 55px !important;
}
.color-hover{
    transition: 0.3s ease-in;
}
.color-hover:hover{
    color: #64b496 !important;
}.dropdown-d{
    position:absolute;
    z-index: 2;
    top: 300%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    
}
.underline-hover:hover .dropdown-d,.more-btn:hover .dropdown-d ,.color-hover:hover .dropdown-d{
    top: 115%;
    opacity: 1;
    visibility: visible;
}

/* .underline-hover::before{
    content: "";
    position: absolute;
    border-bottom: 1px solid #64b496;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 100%;

}
.underline-hover:hover::before{
    right: 0;
    
} */
.custom-navbar {
    padding: 1rem 0;
  }
  
  .navbar-logo {
    height: 40px;
  }
  
  .search-bar {
    width: 40%;
  }
  
  .category-select {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .navbar-phone {
    font-size: 1rem;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .navbar-phone i {
    margin-right: 5px;
  }
  .banner-content{
    height: 80vh;
  }
  .banner{
    background-image: url("../img/banner-2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  .banner-2{
    background-image: url("../img/banner.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  .web-button{
    transition: 0.3s ease;
  }
  .web-button:hover{
    background-color: black !important;
  }
  .banner-2::after,.banner::after{
    width: 100px;
    height: 100px;
    content: "";
    background-image: url(../img/5.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    animation: left-right 10s linear infinite;
    opacity: 0.5;
}
.banner::before, .banner-2::before{
    width: 80px;
    height: 80px;
    content: "";
    background-image: url(../img/4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    top: -15px;
    left: 500px;
    animation: rotate 10s linear infinite;
    opacity: 0.5;
}

  
  @keyframes left-right {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    50% {
        left: 50px;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }
  @keyframes rotate{
    0% {
       
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }
::after, ::before{
    box-sizing: border-box;
}


/* rohit */
.cake .box {
    width: 100%;
    background-color: #f7f7f8;
    text-align: center;
    margin: 5px;
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #d2d2d491;
}

.cake .box:nth-last-child(1) {
    color: #64b496;
}

.cake .box:nth-last-child(6) {
    color: #64b496;
}
.heart{
    background-image: url('../img/3.jpg');
    height: 525px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
}

.milk {
    background-image: url('../img/4.jpg');
    height: 525px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
}


.heart h2,
.milk h2 {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.heart h5,
.milk h5 {
    text-align: center;
    margin-top: 340px;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom:15;
}

.heart button,
.milk button {
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: #64b496;
    color: white;
}
.heart button:hover,.milk button:hover{
    background-color: #000;
    border: 1px solid #fff;
    transition: all 0.5s;
}






