/* .container {
  margin-top: 20px;
} */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .card-header {
    
    padding: 10px;
    border-radius: 8px !important;
    text-align: center;
   
    z-index: -5;
    transition: 0.5s ;
  }

  
  .card-body {
    padding: 10px;
  }
  
  .card-body p {
    margin: 10px 0;
    font-weight: bold;
  }

  
  .card-body ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .card-body ul li {
    background-color: #e3e3e3;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
  }.App {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
    /* margin-top: 60px; */
    margin: 0;
  }
  
  .card-header {
    padding: 25px;
    text-align: center;
  }
  
  .employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .cards{
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .cards::after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#0dcaf0, rgb(255, 23, 131));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
  }
  .cards:hover:after {
    top: 0%;
  }
  
  .cards h3 {
    margin-top: 5px;
    margin: 0;
    color: #1f194c;
  }
  .cards:hover h3{
    color: rgb(255, 255, 255);
    z-index: 5;
  }
  
  .underline{
    margin: 8px 0;
  }
  .cards:hover  .underline {
   color: white;
  }
  .underline{
    position: relative;
    overflow: hidden;
    transition: 0.3s linear;
  }
  .underline::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-bottom: 1px solid black;

  }
  
  .cards:hover .underline::before{
    border-bottom: 1px solid white;}

  .underline:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .cards strong {
    color: #555;
  }
  body{
    display: block !important;
  }