.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .countName {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .Newcount {
    font-size:50px;
    margin: 20px 0;
  }
  
  .counter-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .btn {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    width: 60px;
    height: 60px;
  }
  